
body{
    background: #ecb2ff;
    color:black
    text-align: center;
    font-family: New Times Roman, serif;
}
input{
    padding:10px;
    border-radius:10px;
    border:none;
}
button{
    padding:10px;
    margin:5px;
    border-radius: 10px;
    border:none;
}